@import url("/node_modules/bootstrap-icons/font/bootstrap-icons.css");
@import 'custom';

.roboto-regular {
    font-family: "Roboto", sans-serif;
    font-weight: 400;
    font-style: normal;
}

.roboto-regular {
    font-family: "Roboto", sans-serif;
    font-weight: 400;
    font-style: normal;
}

html {
    position: relative;
    min-height: 100%;
}

footer .footer {
    position: absolute;
    bottom: 0;
    width: 100%;

}

.hero-scene {
    position: relative;

    &::before {
        content: '';
        position: absolute;
        top: 0;
        left: 0;
        width: 100%;
        height: 100%;
        background-image: url(../images/BigTitle_1.jpg);
        background-size: cover;
        filter: brightness(0.5);
    }

    * {
        // Positionner les éléments devant le ::before
        position: relative;
    }

    .hero-scene-content {
        height: 500px;
        display: flex;
        flex-direction: column;
        align-items: center;
        justify-content: center;
        margin-top: 0;
    }

}

.bienvenue {
    color: #0B3B17;
}

// Le contenu de la page animaux
.figure {
    position: relative;

    &:hover {
        .figure-title {
            opacity: 1;
        }

        img {
            filter: brightness(0.6);
        }
    }

    img {
        transition: all 0.5s;
    }

    .figure-title {
        position: absolute;
        top: 50%;
        left: 50%;
        transform: translate(-50% -50%);
        opacity: 0;
        transition: all 0.5s;

    }
}